<div class="event-detail-page">
  @if (event$ | async; as event) {
    <header class="page-header">
      <div class="title-container">
        <h1>{{ event.name }}</h1>
        @if (event.isActive) {
          <span class="status status--active">Ativo</span>
        } @else {
          <span class="status status--inactive">Inativo</span>
        }
      </div>
      <div class="header-actions">
        <button (click)="onEditEvent(event)" class="edit-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
          </svg>
          <span>Editar Evento</span>
        </button>
        <a routerLink="/admin/events" class="back-button">Voltar para a lista</a>
      </div>
    </header>

    <section class="event-info">
      <h2>Detalhes do Evento</h2>
      <p><strong>Data:</strong> {{ event.initialDateTime | date:'dd/MM/yyyy, HH:mm' }}
        a {{ event.finalDateTime| date:'dd/MM/yyyy, HH:mm' }}</p>
      <p><strong>Local:</strong> {{ event.local }}</p>
      <p><strong>Carga Horária:</strong> {{ event.workload }} horas</p>
      <p><strong>Coordenador:</strong> {{ event.coordinator }}</p>
      <p><strong>Descrição:</strong> {{ event.description }}</p>
    </section>
    <hr>
    <section class="activities-management">
      @if (event.id) {
        <div class="activities-header">
          <h2>Gerenciamento de Atividades</h2>
          <button (click)="activityManager.onAddActivity()" class="add-activity-button">
            <span>Adicionar Atividade</span>
          </button>
        </div>

        <app-activity-management #activityManager [eventId]="event.id"></app-activity-management>
      } @else {
        <div class="loading-container">
          <div class="spinner"></div>
          <p>Carregando atividades...</p>
        </div>
      }
    </section>
    <hr>

    <section class="participants-section">
      @if (participantsPage$ | async; as page) {
        <h2>Participantes Inscritos ({{ page.pagination.totalElements }})</h2>

        <div class="search-container">
          <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <input
            type="text"
            class="search-input"
            placeholder="Pesquisar pelo nome do paticipante..."
            (input)="onSearchQueryChanged($event)"
          />
        </div>

        @if (page.data.length > 0) {
          <div class="participants-table-container">
            <table>
              <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
                @for (enrollment of page.data; track enrollment.participant.id) {
                  <tr>
                    <td data-label="Nome">{{ enrollment.participant.name }}</td>
                    <td data-label="Email">{{ enrollment.participant.email }}</td>
                    <td data-label="Tipo">
                      @switch (enrollment.participant.participantType) {
                        @case ('DISCENTE') {
                          <span>Discente</span>
                        }
                        @case ('DOCENTE') {
                          <span>Docente</span>
                        }
                        @case ('OUTRO') {
                          <span>Outro</span>
                        }
                      }
                    </td>
                    <td data-label="Status">
                      @switch (enrollment.wasPresent) {
                        @case ('TRUE') {
                          <span>Presente</span>
                        }
                        @case ('FALSE') {
                          <span>Faltou</span>
                        }
                        @case ('PENDING') {
                          <span>Pendente</span>
                        }
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          @if (page.pagination.totalPages > 1) {
            <div class="pagination-controls">
              <button (click)="onPageChange(page.pagination.page - 1)" [disabled]="page.pagination.page === 0"
                      class="pagination-button">Anterior
              </button>
              <span>Página {{ page.pagination.page + 1 }} de {{ page.pagination.totalPages }}</span>
              <button (click)="onPageChange(page.pagination.page + 1)"
                      [disabled]="page.pagination.page + 1 >= page.pagination.totalPages" class="pagination-button">
                Próxima
              </button>
            </div>
          }
        } @else {
          <p class="no-participants-message">Nenhum participante encontrado.</p>
        }
      } @else {
        <div class="participants-header">
          <h2>Participantes Inscritos</h2>
        </div>
        <div class="loading-container">
          <div class="spinner"></div>
          <p>Carregando participantes...</p>
        </div>
      }
    </section>
  } @else {
    <div class="loading-container">
      <div class="spinner"></div>
      <p>Carregando detalhes do evento...</p>
    </div>
  }
</div>

@if (isModalVisible) {
  <app-event-modal-form
    [event]="selectedEventForEdit"
    (closeModal)="closeModal()"
    (save)="saveEvent($event)"
  ></app-event-modal-form>
}
