<section class="about-us">
  <div class="about-us__container">
    
    <div class="about-us__header">
      <h1 class="about-us__header__title">Sobre Nós</h1>
      <p class="about-us__header__subtitle">Conheça um pouco mais sobre a nossa jornada.</p>
    </div>

    <div class="about-us__content">
      <p class="about-us__content__text">
        O <strong>Acadly</strong> é um projeto de extensão criado como parte da disciplina de Programação Web 2,
        desenvolvido por estudantes do curso de Análise e Desenvolvimento de Sistemas, do 5º semestre,
        turma 2023.1, do Instituto Federal de Ciências e Estatísticas (IFCE) do campus Boa Viagem.
      </p>

      <p class="about-us__content__text">
        Nosso objetivo foi criar um espaço onde eventos acadêmicos, culturais e sociais pudessem ser organizados,
        e divulgados com mais facilidade. Este projeto nasceu pensando na união de aprendizado e
        contribuição prática para a comunidade acadêmica.
      </p>

      <p class="about-us__content__text">
        Tivemos a orientação da professora <strong>Jéssica de Paulo Rodrigues</strong>, que acompanhou o processo de desenvolvimento, ainda que curto. 
        Portanto, pedimos compreensão se houverem falhas ou pontos a melhorar. Faremos o que pudermos a medida que o tempo permitir.
      </p>
    </div>

    <div class="about-us__students">
      <h2 class="about-us__students__title">Equipe de Estudantes</h2>
      
      <div class="about-us__students__carousel swiper-container">
        <div class="about-us__students__carousel__wrapper swiper-wrapper">
          <div *ngFor="let student of students" class="about-us__students__carousel__slide swiper-slide">
            <div class="about-us__students__carousel__card student-card">
              <div class="student-card__avatar" [ngStyle]="{'background-image': 'url(' + student.avatarUrl + ')'}"></div>
              
              <h3 class="student-card__name">{{ student.name }}</h3>
              
              <div class="student-card__social-links">
                <a *ngIf="student.githubUrl" [href]="student.githubUrl" target="_blank" aria-label="Perfil do GitHub">
                  <i class="fa-brands fa-github student-card__social-icon"></i>
                </a>
                
                <a *ngIf="student.linkedinUrl" [href]="student.linkedinUrl" target="_blank" aria-label="Perfil do LinkedIn">
                  <i class="fa-brands fa-linkedin student-card__social-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="about-us__students__carousel__pagination swiper-pagination"></div>
        <div class="about-us__students__carousel__button--prev swiper-button-prev"></div>
        <div class="about-us__students__carousel__button--next swiper-button-next"></div>
        <div class="about-us__students__carousel__scrollbar swiper-scrollbar"></div>
      </div>
    </div>

  </div>
</section>
