@if (guestsState$ | async; as state) {

  @if (state.loading) {
    <p>Carregando convidados...</p>
  }

  @else if (state.guests && state.guests.length > 0) {
    <section class="guests-section">
      <h3 class="section-title">Convidados</h3>
      <div class="card-container">
        @for (group of state.guests; track group.period) {
          @if (group.guests && group.guests.length > 0) {
            <div class="guest-card">
              <div class="guest-card__header">
                <h3 class="guest-card__title">Atividades |
                  @switch (group.period) {
                    @case (Period.MORNING) { Manhã }
                    @case (Period.AFTERNOON) { Tarde }
                    @case (Period.EVENING) { Noite }
                    @default { Período }
                  }
                </h3>
              </div>
              <div class="guest-card__body">
                @for (guest of group.guests; track guest.id) {
                  <div class="guest-profile">
                    <img [ngSrc]="guest.profilePictureUrl | toRelativePath"
                         [alt]="'Foto de ' + guest.name"
                         class="guest-profile__image"
                         loading="lazy"
                         width="100"
                         height="100">
                    <div class="guest-profile__info">
                      <p class="guest-profile__name">{{ guest.name }}</p>
                      <p class="guest-profile__occupation">{{ guest.occupation }}</p>
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        }
      </div>
    </section>
  }

}
